<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>社区 - 文章</title>
    <link href="../public/css/style_shequ.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>
  <body>
    <h2><a class="logo" href="index.html"><strong>logo</strong></a></h2><a class="buyart" href="#"></a>
    <div id="wrapper">
      <div class="mailing_box">
        <div class="inner_mailbox">
          <div id="mail_left">
            <h2 class="maillist_hdr hdr">欢迎光临</h2>
            <p>这里是我们的社区，想要联系我的话可以留下邮箱地址哦。</p>
            <form method="post">
              <input class="text_input" name="address" onfocus="if(this.value=='填写邮箱')this.value='';" onblur="if(this.value=='')this.value='填写邮箱';" type="text" size="28" value="填写邮箱"/>
              <input class="mail_button" name="submit" type="submit" value="提 交"/><br/>
            </form>
          </div>
          <div id="social_right">
            <h2 class="socialize_hdr hdr">自我介绍</h2>
            <p><img class="social_avatar" src="images/avatar.gif" border="0"/> 在个人爱好的带引下，入校我便参加了校书画协会，由干事到副会长，这是对我的付出与努力的肯定。组织开展一系列活动丰富校园生活，被评选为优秀学生社团。所组织的跨校联谊活动，达到预期目的，受到师生首肯.</p>
            <ul class="left_links">
              <li><strong>人生旅程</strong> —  活了这么久才知道自己要<a href="#">干什么</a></li>
              <li><strong>新奇发现</strong> — 把<a href="#">兴趣爱好</a>当成人生的目标</li>
              <li><strong>目前状态</strong> — 活的挺好<a href="#">心事不是很多</a>还算过得去</li>
              <li><strong>未来展望</strong> — 希望有房有车</li>
              <li><strong>兴趣爱好</strong> — 图片，漫画，音乐</li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="contact_link"><a class="mailinglist" href="#">展开 / 收起</a></div>
      <div id="header">
        <h1><a href="#"></a></h1><a class="tag" href="#"></a>
      </div>
      <div id="content">
        <ul id="nav">
          <li id="home"><a class="selected" href="index.html">首页</a></li>
          <li id="artwork"><a href="picshow.html"><strong></strong>图片展示</a></li>
          <li id="store"><a href="#">创作交流</a></li>
          <li id="blog"><a href="blog.html">博客</a></li>
          <li id="info"><a href="#">联系我</a></li>
        </ul>
        <div class="narrow_center" id="center_well">
          <h3 class="single">夜过乱坟地 谁给老鬼引的路</h3>
          <div class="entry">
            <p>
              那时农民还忙着庄稼活，戏一般是喝过茶后开始，半夜里结束。老鬼光棍一条，地里又没有多少活做，常常深夜归来一睡到晌午。
              夜里，老鬼又去听戏，戏散时已是凌晨十分。老鬼蹬上自行车就向家里赶。因为路远，而且又要过于村那片乱坟地。村人们常常在饭前或者树下谈论于村发生的希奇古怪的事情，而那些事情的起因大半都是因为于村南地的那片乱坟。
            </p>
            <p>老鬼先前当过兵，不相信世界上有鬼。可老鬼每次听戏回来路过于村那边乱坟时心里就会莫名地紧张一番，眼睛老是四处张望，害怕突然出现什么异样来。不过每次他都是虚惊一场平安到达家中。</p>
            <p>
              这次老鬼又骑到那片乱坟处了，老鬼像往常一样吹起了口哨，他想发出声音以遮盖其他的声音。自行车在路上却磕磕绊绊了起来，一会高一会低。以往每天都没有出现过这样的情景，路来时还很平坦。半夜里不会有人挖路的，老鬼想到这里心里有些寒。老鬼使劲蹬着自行车，自行车依然磕磕绊绊，时高时低。越是这样，老鬼蹬的越快，只听喀嚓一声，无论老鬼怎么蹬自行车硬是蹬不动了，老鬼只好下自行车检查一下，原来自行车的链子卡在了链盒里。老鬼没带工具，只好推着自行车前走。
              四周一片漆黑，乱坟上空被散乱树木的阴影所笼罩，隐隐约约能看到一点点的轮廓。老鬼感觉路很难走，深一脚浅一脚的，几分钟的路，老鬼仿佛走了几个小时似的。老鬼现在既害怕又纳闷，这时一束光出现在老鬼的面前，那光与手电筒发出的一样。老鬼看到光仿佛遇见了救星一般，终于来了个过路人，有了个伴。我就跟着他走不相信走不出这片乱坟地，老鬼想。
            </p>
            <p>
              路面顿时感觉平坦许多，一步步好走了，可老鬼的眼却只能到这束光，四周的一切他都看不到了。老鬼就感觉跟着这束光就能到家。光一直朝前走，老鬼一直跟着，就这样老鬼也不知道走多久，感觉有些累了，心想，怎么还没到家。可光在走，老鬼还依然跟着走。
              老鬼隐约听到鸡叫的声音，光突然消失不见了。光消失后，老鬼才看清四周的物事，老鬼吓了一跳，原来天已快明了，他自己竟然推着自行车置身与乱坟的中间一座高大的坟头上，那坟头被他上上下下爬得都快成路了。
              此后，老鬼深夜再不敢一个人外出。
            </p>
            <p>发表日期: 2010.2.15<br/>          评论数: 2次<br/>          浏览  : 31次<br/>          引用:<a href="#">www.52wank.com</a></p>
          </div>
          <div class="postmetadata">Ξ   	11.16.08<a title="View all posts in Shows" href="#" rel="category tag">Shows</a></div>
          <!-- You can start editing here.-->
          <div id="comments">
            <h2 class="comments_hdr hdr">相关评论</h2>
            <ul class="commentlist">
              <li class="clearfix" id="comment-2109">
                <h3 class="comment_hdr">↓  <strong><a class="url" href="#" rel="external nofollow">Mickel</a></strong> 发表于<a title="" href="#"> 2010-11-2</a></h3>
                <p>我来留言....</p>
              </li>
              <li class="clearfix" id="comment-2133">
                <h3 class="comment_hdr">↓  <strong><a class="url" href="#" rel="external nofollow">web gallery</a></strong> 发表于<a title="" href="#">2010-1-22</a></h3>
                <p>我来发表一下....</p>
              </li>
            </ul>
            <h2 class="leave_hdr hdr">发表评论</h2>
            <p>
              <input id="author" name="author" tabindex="1" type="text" size="22" value=""/>
              <label> 用户名</label>
            </p>
            <p>
              <input id="email" name="email" tabindex="2" type="text" size="22" value=""/>
              <label> 用户密码</label>
            </p>
            <p>
              <input id="url" name="url" tabindex="3" type="text" size="22" value=""/>
              <label> 验证码</label>
            </p>
            <p>
              <textarea id="comment_txt" name="comment" tabindex="4" rows="10" cols="70"></textarea>
            </p>
            <p>
              <input id="submit" name="submit" tabindex="5" type="submit" value="发表评论"/>
              <input name="comment_post_ID" type="hidden" value="115"/>
            </p>
          </div>
        </div>
        <div id="left">
          <h2 class="search_hdr hdr">搜索</h2>
          <div id="search_form">
            <input id="s" name="s" type="text" value=""/>
            <input id="searchsubmit" type="submit" value="搜索"/>
          </div>
          <h2 class="archive_hdr hdr">按时间搜索</h2>
          <ul>
            <li><a title="March 2009" href="#">2009年3月</a></li>
            <li><a title="November 2008" href="#">2008年11月</a></li>
            <li><a title="September 2008" href="#">2008年9月</a></li>
            <li><a title="August 2008" href="#">2008年8月</a></li>
            <li><a title="June 2008" href="#">2008年6月</a></li>
            <li><a title="May 2008" href="#">2008年5月</a></li>
            <li><a title="March 2008" href="#">2008年3月</a></li>
            <li><a title="January 2008" href="#">2008年1月</a></li>
            <li><a title="November 2007" href="#">2007年11月</a></li>
            <li><a title="October 2007" href="#">2007年10月</a></li>
            <li><a title="August 2007" href="#">2007年8月</a></li>
            <li><a title="July 2007" href="#">2007年7月</a></li>
          </ul>
          <h2 class="cat_hdr hdr">分类</h2>
          <ul>
            <li class="cat-item cat-item-5"><a title="" href="#">讨论</a> (2)</li>
            <li class="cat-item cat-item-1"><a title="" href="#">普通</a> (11)</li>
            <li class="cat-item cat-item-3"><a title="" href="#">展示</a> (13)</li>
            <li class="cat-item cat-item-4"><a title="" href="#">更新</a> (10)</li>
            <li class="cat-item cat-item-2"><a title="" href="#">最新收藏</a> (12)</li>
            <li class="cat-item cat-item-8"><a title="" href="#">技术文章</a> (2)</li>
            <li class="cat-item cat-item-6"><a title="" href="#">网络</a> (5)</li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
      <div id="footer">
        <p>© Copyright 2010 -<a href="index.html">保留一切权利</a><a class="feed" href="#">发表RSS</a><span class="stats"> (81)</span><a class="feed" href="#">订阅RSS</a><span class="stats"></span><a class="dellink" href="#">已收藏</a><span class="stats">(<a class="statslink" href="#">357次</a>)</span></p>
      </div>
    </div>
  </body>
</html>