doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title 商城首页
        style(type='text/css').
            <!--
            body,td,th {
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size: 12px;
                color: #222222;
            }
            body {
                color:#f2f2f2;
                margin:0 auto;
                width:946px;
                position:relative;
                top:50px;
                background:url(../public/images/back-content.jpg) #000 center top no-repeat;
                overflow:hidden;
                margin:0 auto;
            }
            a:link {
                color: #222222;
            }
            a:visited {
                color: #333333;
            }
            a:hover {
                color: #FF3300;
            }
            a:active {
                color: #FF3300;
            }
            .d_left {
                background-image: url(images/d_left_bg.gif);
            }
            .p_commend {color: #FF3300}
            .end_ar {
                color: #FF3300;
                font-weight: bold;
            }
            .end {
                color: #454545;
                line-height: 20px;
            }
            .p_news {
                font-size: 12px;
                line-height: 24px;
            }
            .p_money {
                font-size: 12px;
                color: #FF3300;
            }
            .reg {
                font-size: 14px;
                font-weight: bold;
            }
            .sitenews {
                font-size: 13px;
                font-weight: bold;
            }
            .shopcart {
                font-size: 13px;
            }
            .search {
                font-size: 14px;
            }
            .i_txt {	font-size: 12px;
                line-height: 24px;
            }
            -->
    body
        table(width='700', align='center', border='0', cellspacing='0', cellpadding='0')
            tbody
                tr
                    td(background='images/shopcart_bg2.gif', colspan='9')
                        img(width='219', height='50', src='images/shopcart.gif')
                tr
                    td(height='30', colspan='9')
                        img(width='400', height='11', src='images/shopcart_2.gif')
                tr
                    td(height='15', colspan='9')  
                tr
                    td(height='5', bgcolor='#efefef', colspan='9')
                tr
                    td.shopcart(width='80', height='30', align='center', bgcolor='#ffffff') 删除
                    td(width='7', valign='top')
                        img(width='7', height='29', src='images/shopcart_line.gif')
                    td.shopcart(width='200', align='center', bgcolor='#ffffff') 商品名称
                    td(width='7', align='center', valign='top')
                        img(width='7', height='29', src='images/shopcart_line.gif')
                    td.shopcart(width='120', align='center', bgcolor='#ffffff')  商品单价
                    td(width='7', align='center', valign='top')
                        img(width='7', height='29', src='images/shopcart_line.gif')
                    td.shopcart(width='100', align='center', bgcolor='#ffffff')  选购数量
                    td.shopcart(width='7', align='center', valign='top')
                        img(width='7', height='29', src='images/shopcart_line.gif')
                    td.shopcart(align='center', bgcolor='#ffffff') 单品小计
                tr
                    td(height='1', bgcolor='#efefef', colspan='9')
                tr(align='center', bgcolor='#ffffff')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                tr
                    td(height='1', bgcolor='#efefef', colspan='9')
                tr(align='center', bgcolor='#ffffff')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                tr
                    td(height='1', bgcolor='#efefef', colspan='9')
                tr(align='center', bgcolor='#ffffff')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                tr
                    td(height='1', bgcolor='#efefef', colspan='9')
                tr(align='center', bgcolor='#ffffff')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                tr
                    td(height='1', bgcolor='#efefef', colspan='9')
                tr(align='center', bgcolor='#ffffff')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                tr
                    td(height='1', bgcolor='#efefef', colspan='9')
                tr(align='center', bgcolor='#ffffff')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                tr
                    td(height='1', bgcolor='#efefef', colspan='9')
                tr(align='center', bgcolor='#ffffff')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                tr
                    td(height='1', bgcolor='#efefef', colspan='9')
                tr(align='center', bgcolor='#ffffff')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                    td(height='30')
                tr
                    td(height='5', bgcolor='#efefef', colspan='9')
                tr(align='center')
                    td(height='40', colspan='9')
                        img(width='15', height='11', src='images/shopcart__leftar.gif')
                        strong(style='color:white') 1
                        img(width='15', height='11', src='images/shopcart_rightar.gif')
                tr(align='right')
                    td(height='40', colspan='9')
                        img(width='100', height='24', src='images/shopcart_buttom1.gif')
                        img(width='60', height='24', src='images/shopcart_buttom2.gif')
        span(style='display:none;')
            a(href='http://www.mianfeimoban.com') 网页模板
