<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>video-list</title>
    <link href="../public/css/okb.css" rel="stylesheet" type="text/css"/>
    <!--if lte IE 6link(href='css/explorer.css', rel='stylesheet', type='text/css')
    -->
  </head>
  <body id="sec-trabajos">
    <div id="contenedor">
      <div id="contenido">
        <h2><a class="logo" href="#"><strong>video-list</strong></a></h2><span><a style="margin:90px 20px 0 0; float:right;" href="#">欢迎，欢迎来到宠物天地</a></span>
        <ol>
          <li id="nosotros"><a href="index.html">首页</a></li>
          <li id="servicios"><a href="news.html">热点宠物</a></li>
          <li id="trabajos"><a href="video-list.html">宠物知识</a></li>
          <li id="contacto"><a href="video-list.html">宠物社区</a></li>
        </ol>
        <div class="trabajos-realizados"><a href="pet_list.html"></a>
          <p></p>
        </div>
        <div class="cont-trabajos">
          <div style="float:left; padding:0">
            <div class="muestra-trabajo">
              <div class="nombre-cliente">
                <ul>
                  <li><a href="#">家长关注：1025</a></li>
                  <li>9LB</li>
                </ul>
                <h4>柴犬</h4>
              </div>
              <div class="flash">
                <div id="verano"><img style="float:left;width:204px;height:204px;" src="../public/images/cec999b5b5490d8ae419fc778327bca9.jpeg"/>
                  <div style="float:right; margin-right:20px">
                    <p>市场价：￥1200.00元</p>
                    <p>商城价：￥1200.00元</p>
                    <p>会员价：￥1100.00元</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="muestra-trabajo">
              <div class="nombre-cliente">
                <ul>
                  <li><a href="#">家长关注：187</a></li>
                  <li>80G</li>
                </ul>
                <h4>荷兰兔</h4>
              </div>
              <div class="flash">
                <div id="maldini"><img style="float:left;width:204px;height:204px;" src="../public/images/030814d2abecc7be41d5caaebd671b1f.jpg"/>
                  <div style="float:right; margin-right:20px">
                    <p>市场价：￥480.00元</p>
                    <p>商城价：￥400.00元</p>
                    <p>会员价：￥360.00元</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="muestra-trabajo">
              <div class="nombre-cliente">
                <ul>
                  <li><a href="#">关注家长：1869</a></li>
                  <li>30/支</li>
                </ul>
                <h4>哈士奇</h4>
              </div>
              <div class="flash">
                <div id="demo"><img style="float:left;width:204px;height:204px;" src="../public/images/a97154c70d8991097ccfea7e90f8ed49.jpg"/>
                  <div style="float:right; margin-right:20px">
                    <p>市场价：￥1500.00元</p>
                    <p>商城价：￥1600.00元</p>
                    <p>会员价：￥1350.00元</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="muestra-trabajo">
              <div class="nombre-cliente">
                <ul>
                  <li><a href="#">关注家长：4727</a></li>
                  <li>16LB</li>
                </ul>
                <h4>中华田园犬</h4>
              </div>
              <div class="flash">
                <div id="zed-cor"><img style="float:left;width:204px;height:204px;" src="../public/images/721144ab5cf7a463458f33894c559f01.jpeg"/>
                  <div style="float:right; margin-right:20px">
                    <p>市场价：￥1000.00元</p>
                    <p>商城价：￥1010.00元</p>
                    <p>会员价：￥980.00元</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="muestra-trabajo">
              <div class="nombre-cliente">
                <ul>
                  <li><a href="#">关注家长：899</a></li>
                  <li>10LB（冰川）</li>
                </ul>
                <h4>金鱼</h4>
              </div>
              <div class="flash">
                <div id="alegra"><img style="float:left;width:204px;height:204px;" src="../public/images/timg.jpg"/>
                  <div style="float:right; margin-right:20px">
                    <p>市场价：￥100.00元</p>
                    <p>商城价：￥120.00元</p>
                    <p>会员价：￥98.00元</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="muestra-trabajo">
              <div class="nombre-cliente">
                <ul>
                  <li><a href="#">关注家长：561</a></li>
                  <li>6.8kg/15LB</li>
                </ul>
                <h4>仓鼠</h4>
              </div>
              <div class="flash">
                <div id="rico"><img style="float:left;width:204px;height:204px;" src="../public/images/b9e2fb8b958aace2ae3e734a628202f3.jpg"/>
                  <div style="float:right; margin-right:20px">
                    <p>市场价：￥220.00元</p>
                    <p>商城价：￥260.00元</p>
                    <p>会员价：￥200.00元</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="muestra-trabajo">
              <div class="nombre-cliente">
                <ul>
                  <li><a href="#">关注家长：289</a></li>
                  <li>25LB/11.5kg</li>
                </ul>
                <h4>相思雀</h4>
              </div>
              <div class="flash">
                <div id="erotia"><img style="float:left;width:204px;height:204px;" src="../public/images/5b2e76354f2a6173b990105fb768153c.jpg"/>
                  <div style="float:right; margin-right:20px">
                    <p>市场价：￥460.00元</p>
                    <p>商城价：￥400.00元</p>
                    <p>会员价：￥360.00元</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="muestra-trabajo">
              <div class="nombre-cliente">
                <ul>
                  <li><a href="#">关注家长：337</a></li>
                  <li>10LB</li>
                </ul>
                <h4>短尾猫</h4>
              </div>
              <div class="flash">
                <div id="campus"><img style="float:left;width:204px;height:204px;" src="../public/images/551e5d9b4f42284c62940706f002c8fd.jpg"/>
                  <div style="float:right; margin-right:20px">
                    <p>市场价：￥1300.00元</p>
                    <p>商城价：￥1400.00元</p>
                    <p>会员价：￥1260.00元</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="pie">
      <p><strong>© 2010 保留一切权利</strong></p>
      <p><a href="#">宠物网站</a><a href="#">广告业务</a><a href="#">联系我们</a><a href="#">客服中心</a><a href="#">站点地图</a><a href="#">版权所有</a></p>
      <p>合作伙伴 -<a href="#">雷斌</a><a href="#">毛逸雯</a><a href="#">聂明辉</a><a href="#">宗永军</a><a href="#">王集锋</a><a href="#">黄永琪</a><a href="#">李志炜</a><a href="#">熊唯靖</a></p>
    </div>
  </body>
</html>