doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title video-list
        link(href='css/okb.css', rel='stylesheet', type='text/css')
        //if lte IE 6
          link(href='css/explorer.css', rel='stylesheet', type='text/css')
    body#sec-trabajos
        #contenedor
            #contenido
                h2
                    a.logo(href='#')
                        strong video-list
                span
                    a(style='margin:90px 20px 0 0; float:right;', href='#') 欢迎，欢迎来到宠物天地
                ol
                    li#nosotros
                        a(href='index.html') 首页
                    li#servicios
                        a(href='news.html') 热点宠物
                    li#trabajos
                        a(href='video-list.html') 宠物知识
                    li#contacto
                        a(href='video-list.html') 宠物社区
                .trabajos-realizados
                    a(href='pet_list.html')
                    p
                .cont-trabajos
                    div(style='float:left; padding:0')
                        .muestra-trabajo
                            .nombre-cliente
                                ul
                                    li
                                        a(href='#') 家长关注：1025
                                    li 9LB
                                h4 柴犬
                            .flash
                                #verano
                                    img(style='float:left;width:204px;height:204px;', src='images/cec999b5b5490d8ae419fc778327bca9.jpeg')
                                    div(style='float:right; margin-right:20px')
                                        p 市场价：￥1200.00元
                                        p 商城价：￥1200.00元
                                        p 会员价：￥1100.00元
                        .muestra-trabajo
                            .nombre-cliente
                                ul
                                    li
                                        a(href='#') 家长关注：187
                                    li 80G
                                h4 荷兰兔
                            .flash
                                #maldini
                                    img(style='float:left;width:204px;height:204px;', src='images/030814d2abecc7be41d5caaebd671b1f.jpg')
                                    div(style='float:right; margin-right:20px')
                                        p 市场价：￥480.00元
                                        p 商城价：￥400.00元
                                        p 会员价：￥360.00元
                        .muestra-trabajo
                            .nombre-cliente
                                ul
                                    li
                                        a(href='#') 关注家长：1869
                                    li 30/支
                                h4 哈士奇
                            .flash
                                #demo
                                    img(style='float:left;width:204px;height:204px;', src='images/a97154c70d8991097ccfea7e90f8ed49.jpg')
                                    div(style='float:right; margin-right:20px')
                                        p 市场价：￥1500.00元
                                        p 商城价：￥1600.00元
                                        p 会员价：￥1350.00元
                        .muestra-trabajo
                            .nombre-cliente
                                ul
                                    li
                                        a(href='#') 关注家长：4727
                                    li 16LB
                                h4 中华田园犬
                            .flash
                                #zed-cor
                                    img(style='float:left;width:204px;height:204px;', src='images/721144ab5cf7a463458f33894c559f01.jpeg')
                                    div(style='float:right; margin-right:20px')
                                        p 市场价：￥1000.00元
                                        p 商城价：￥1010.00元
                                        p 会员价：￥980.00元
                        .muestra-trabajo
                            .nombre-cliente
                                ul
                                    li
                                        a(href='#') 关注家长：899
                                    li 10LB（冰川）
                                h4 金鱼
                            .flash
                                #alegra
                                    img(style='float:left;width:204px;height:204px;', src='images/timg.jpg')
                                    div(style='float:right; margin-right:20px')
                                        p 市场价：￥100.00元
                                        p 商城价：￥120.00元
                                        p 会员价：￥98.00元
                        .muestra-trabajo
                            .nombre-cliente
                                ul
                                    li
                                        a(href='#') 关注家长：561
                                    li 6.8kg/15LB
                                h4 仓鼠
                            .flash
                                #rico
                                    img(style='float:left;width:204px;height:204px;', src='images/b9e2fb8b958aace2ae3e734a628202f3.jpg')
                                    div(style='float:right; margin-right:20px')
                                        p 市场价：￥220.00元
                                        p 商城价：￥260.00元
                                        p 会员价：￥200.00元
                        .muestra-trabajo
                            .nombre-cliente
                                ul
                                    li
                                        a(href='#') 关注家长：289
                                    li 25LB/11.5kg
                                h4 相思雀
                            .flash
                                #erotia
                                    img(style='float:left;width:204px;height:204px;', src='images/5b2e76354f2a6173b990105fb768153c.jpg')
                                    div(style='float:right; margin-right:20px')
                                        p 市场价：￥460.00元
                                        p 商城价：￥400.00元
                                        p 会员价：￥360.00元
                        .muestra-trabajo
                            .nombre-cliente
                                ul
                                    li
                                        a(href='#') 关注家长：337
                                    li 10LB
                                h4 短尾猫
                            .flash
                                #campus
                                    img(style='float:left;width:204px;height:204px;', src='images/551e5d9b4f42284c62940706f002c8fd.jpg')
                                    div(style='float:right; margin-right:20px')
                                        p 市场价：￥1300.00元
                                        p 商城价：￥1400.00元
                                        p 会员价：￥1260.00元
        #pie
            p
                strong © 2010 保留一切权利
            p
                a(href='#') 宠物网站
                |
                a(href='#') 广告业务
                |
                a(href='#') 联系我们
                |
                a(href='#') 客服中心
                a(href='#') 站点地图
                |
                a(href='#') 版权所有
            p
                | 合作伙伴 -
                a(href='#') 雷斌
                a(href='#') 毛逸雯
                a(href='#') 聂明辉
                a(href='#') 宗永军
                a(href='#') 王集锋
                a(href='#') 黄永琪
                a(href='#') 李志炜
                a(href='#') 熊唯靖
