<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>小米</title>
    <link href="../public/css/pet_picture.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="all">
      <div class="cbl_big_div">
        <ul class="ul1">
          <li class="li1">亲切 狗狗<span class="span1"></span></li>
          <li class="li1">玲珑 小猫<span class="span1"></span></li>
          <li class="li1">斑斓 金鱼<span class="span1"></span></li>
          <li class="li1">可爱 仓鼠<span class="span1"></span></li>
          <li class="li1">敦厚 小乌龟<span class="span1"></span></li>
          <li class="li1">机灵 小鸟<span class="span1"></span></li>
          <li class="li1">乖巧 玉兔<span class="span1"></span></li>
          <li class="li1">虾<span class="span1"></span></li>
          <li class="li1">貂<span class="span1"></span></li>
          <li class="li1">宠物蜥蜴<span class="span1"></span></li>
        </ul>
      </div>
      <div class="lb_show_width">
        <div class="lb_img"><img class="swiper-lazy" src="../public/images/0f8d0fbe7f02df1aa860029302bec9eb.jpg" 900px;="" 1445px;=""><img class="swiper-lazy" src="../public/images/3f27f7e817ead89eb1d1f0cc6390ff70.jpeg" 900px;="" 1445px;=""><img class="swiper-lazy" src="../public/images/51d75be5342f5624a90df2c67b5c1645.jpg" 900px;="" 1445px;=""></div>
      </div>
    </div>
    <div class="fixed_big_div">
      <ul class="ul2">
        <li class="li2"><img class="show_img" src="../public/img/mobile.png"><img class="hover_img" src="../public/img/mobile_hover.png"><span class="span2">手机APP</span></li>
        <li class="li2"><img class="show_img" src="../public/img/people.png"><img class="hover_img" src="../public/img/people_hover.png"><span class="span2">个人中心</span></li>
        <li class="li2"><img class="show_img" src="../public/img/shouhou.png"><img class="hover_img" src="../public/img/shouhou_hover.png"><span class="span2">售后服务</span></li>
        <li class="li2"><img class="show_img" src="../public/img/rengong.png"><img class="hover_img" src="../public/img/rengong_hover.png"><span class="span2">人工客服</span></li>
        <li class="li2"><img class="show_img" src="../public/img/gouwuche.png"><img class="hover_img" src="../public/img/gouwuche_hover.png"><span class="span2">购物车</span></li>
      </ul>
    </div>
  </body>
</html>