doctype html
html
    head
        meta(charset='utf-8')
        title 小米
        link(href='css/pet_picture.css', rel='stylesheet', type='text/css')
    body
        .all
            .cbl_big_div
                ul.ul1
                    li.li1
                        | 亲切 狗狗
                        span.span1
                    li.li1
                        | 玲珑 小猫
                        span.span1
                    li.li1
                        | 斑斓 金鱼
                        span.span1
                    li.li1
                        | 可爱 仓鼠
                        span.span1
                    li.li1
                        | 敦厚 小乌龟
                        span.span1
                    li.li1
                        | 机灵 小鸟
                        span.span1
                    li.li1
                        | 乖巧 玉兔
                        span.span1
                    li.li1
                        | 虾
                        span.span1
                    li.li1
                        | 貂
                        span.span1
                    li.li1
                        | 宠物蜥蜴
                        span.span1
            .lb_show_width
                .lb_img
                    img.swiper-lazy(src='images/0f8d0fbe7f02df1aa860029302bec9eb.jpg', 900px;='', 1445px;='')
                    img.swiper-lazy(src='images/3f27f7e817ead89eb1d1f0cc6390ff70.jpeg', 900px;='', 1445px;='')
                    img.swiper-lazy(src='images/51d75be5342f5624a90df2c67b5c1645.jpg', 900px;='', 1445px;='')
        .fixed_big_div
            ul.ul2
                li.li2
                    img.show_img(src='img/mobile.png')
                    img.hover_img(src='img/mobile_hover.png')
                    span.span2 手机APP
                li.li2
                    img.show_img(src='img/people.png')
                    img.hover_img(src='img/people_hover.png')
                    span.span2 个人中心
                li.li2
                    img.show_img(src='img/shouhou.png')
                    img.hover_img(src='img/shouhou_hover.png')
                    span.span2 售后服务
                li.li2
                    img.show_img(src='img/rengong.png')
                    img.hover_img(src='img/rengong_hover.png')
                    span.span2 人工客服
                li.li2
                    img.show_img(src='img/gouwuche.png')
                    img.hover_img(src='img/gouwuche_hover.png')
                    span.span2 购物车
